<div class="container wrap p-5">
  <h3>TRANG QUẢN LÝ ADMIN</h3>
  <div style="margin-bottom: 15px">
    <a href="/logout">Đăng xuất</a>
  </div>
  <ul class="nav nav-tabs nav-fill">
    <li class="nav-item">
      <a class="nav-link active" data-bs-toggle="tab" href="#deal">Giao dịch</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="tab" href="#user">Tài khoản</a>
    </li>
  </ul>

  <div class="tab-content container wrap">
    <div class="tab-pane active" id="deal">
      <table class="table table-hover" style="width: 100%">
        <thead>
          <tr>
            <th>Username</th>
            <th>Loại GD</th>
            <th>Thời gian</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% for (let deal of deals) { %>
          <tr>
            <td><%= deal.username %></td>
            <td><%= deal.type %></td>
            <td><%= new Date(deal.date).toLocaleString("vi-VN") %></td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>
    <div class="tab-pane" id="user">
      <div class="row">
        <div class="col-2">
          <ul class="nav nav-pills nav-fill flex-column">
            <li class="nav-item">
              <a class="nav-link active" data-bs-toggle="tab" href="#act1"
                >Chờ xác minh</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="tab" href="#act2"
                >Đã xác minh</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="tab" href="#act3"
                >Đã vô hiệu hóa</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="tab" href="#act4"
                >Đang bị khóa</a
              >
            </li>
          </ul>
        </div>
        <div class="col-10">
          <div class="tab-content">
            <div class="tab-pane container active" id="act1">
              <table class="table table-hover table-striped">
                <thead>
                  <tr>
                    <th>Tài khoản</th>
                    <th>Họ tên</th>
                    <th>Ngày tạo</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <% for (let user of userWait) { %>
                  <tr>
                    <td><%= user.username %></td>
                    <td><%= user.name %></td>
                    <td>
                      <%= new Date(user.createdAt).toLocaleString("vi-VN") %>
                    </td>
                  </tr>
                  <% } %>
                </tbody>
              </table>
            </div>
            <div class="tab-pane container fade" id="act2">
              <table class="table table-hover table-striped">
                <thead>
                  <tr>
                    <th>Tài khoản</th>
                    <th>Họ tên</th>
                    <th>Ngày tạo</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <% for (let user of userAct) { %>
                  <tr>
                    <td><%= user.username %></td>
                    <td><%= user.name %></td>
                    <td>
                      <%= new Date(user.createdAt).toLocaleString("vi-VN") %>
                    </td>
                  </tr>
                  <% } %>
                </tbody>
              </table>
            </div>
            <div class="tab-pane container fade" id="act3">
              <table class="table table-hover table-striped">
                <thead>
                  <tr>
                    <th>Tài khoản</th>
                    <th>Họ tên</th>
                    <th>Ngày tạo</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <% for (let user of userDis) { %>
                  <tr>
                    <td><%= user.username %></td>
                    <td><%= user.name %></td>
                    <td><%= user.createdAt %></td>
                  </tr>
                  <% } %>
                </tbody>
              </table>
            </div>
            <div class="tab-pane container fade" id="act4">
              <table class="table table-hover table-striped">
                <thead>
                  <tr>
                    <th>Tài khoản</th>
                    <th>Họ tên</th>
                    <th>Ngày tạo</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <% for (let user of userLock) { %>
                  <tr>
                    <td><%= user.username %></td>
                    <td><%= user.name %></td>
                    <td><%= user.createdAt %></td>
                  </tr>
                  <% } %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
