<div class="container-home">
  <div class="block-home show-alert">
    <div class="block-wallet-function">
      <img class="logo" src="/img/logo.png" alt="Logo" width="70" />
      <div class="function" id="home" href="/">
        <i class="icon bi bi-house"></i>
        <span class="mt-1">Home</span>
      </div>
      <div class="function" id="history" href="/history">
        <i class="icon bi bi-clock-history"></i>
        <span class="mt-1">History</span>
      </div>
      <div class="function" id="account" href="/account">
        <i class="icon bi bi-person"></i>
        <span class="mt-1">Account</span>
      </div>
      <i
        class="logout bi bi-box-arrow-right"
        onClick="window.location='/logout'"
      ></i>
    </div>
    <div class="block-wallet-content flex-row">
      <div class="col-8 p-5">
        <h3 class="text-center mb-5">Thông tin tài khoản</h3>
        <form id="form-account">
          <div class="row">
            <div class="col-md-6 col-sm-12">
              <div class="label mb-1">Số điện thoại</div>
              <div
                class="wrap-input validate-input"
                data-validate="Phone required"
              >
                <input
                  class="form-control input-square"
                  id="phone"
                  type="number"
                  value="<%= user.phone %>"
                />
              </div>
            </div>
            <div class="col-md-6 col-sm-12">
              <div class="label mb-1">Email</div>
              <div
                class="wrap-input validate-input"
                data-validate="Email required"
              >
                <input
                  class="form-control input-square"
                  id="email"
                  type="text"
                  value="<%= user.email %>"
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-sm-12">
              <div class="label mb-1">Họ và tên</div>
              <div
                class="wrap-input validate-input"
                data-validate="Name required"
              >
                <input
                  class="form-control input-square"
                  id="name"
                  type="text"
                  value="<%= user.name %>"
                />
              </div>
            </div>
            <div class="col-md-6 col-sm-12">
              <div class="label mb-1">Ngày sinh</div>
              <div
                class="wrap-input validate-input"
                data-validate="Birthday required"
              >
                <input
                  class="form-control input-square"
                  id="birthday"
                  type="text"
                  value="<%= user.birthday %>"
                  onfocus="(this.type = 'date')"
                  onblur="if (!this.value) this.type = 'text'"
                />
              </div>
            </div>
          </div>
          <div class="label mb-1">Địa chỉ</div>
          <div
            class="wrap-input validate-input"
            data-validate="Address required"
          >
            <input
              class="form-control input-square"
              id="address"
              type="text"
              value="<%= user.address %>"
            />
          </div>
          <div class="label mb-1">CMND mặt trước</div>
          <div class="wrap-input validate-input" data-validate="Image required">
            <input
              class="form-control form-control-lg input-square"
              id="cmnd_front"
              type="file"
            />
          </div>
          <div class="label mb-1">CMND mặt sau</div>
          <div class="wrap-input validate-input" data-validate="Image required">
            <input
              class="form-control form-control-lg input-square"
              id="cmnd_end"
              type="file"
            />
          </div>
          <div class="mt-4">
            <button class="btn btn-next" type="submit">Lưu thay đổi</button>
          </div>
        </form>
      </div>
      <div class="col-4 p-5 d-flex flex-column v-rule-left">
        <h3 class="text-center mb-5">Đổi mật khẩu</h3>
        <img
          class="align-self-center my-5"
          src="/img/lock.png"
          alt="Change Password"
          width="200"
        />
        <button
          class="btn btn-next mt-5"
          type="button"
          onclick="window.location='/change-password'"
        >
          Đến trang đổi mât khẩu
        </button>
      </div>
    </div>
  </div>
</div>
<button
  class="d-none"
  id="btn-xac-minh"
  data-bs-toggle="modal"
  data-bs-target="#xac-minh-modal"
></button>
<div
  class="modal fade"
  id="xac-minh-modal"
  tabindex="-1"
  aria-labelledby="xac-minh-modal-label"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content container">
      <div class="modal-header">
        <h5 class="modal-title" id="xac-minh-modal-label">Xác minh</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        Tính năng này chỉ dành cho các tài khoản đã được xác minh
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-bs-dismiss="modal">
          Đã hiểu
        </button>
      </div>
    </div>
  </div>
</div>
